@layer theme, base, primereact, components, utilities;

@import "primereact/resources/themes/lara-light-purple/theme.css"
  layer(primereact);
@import "primeicons/primeicons.css";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer primereact {
  #custom-navbar.p-menubar.mobile .p-menubar-start {
    width: 100% !important;
  }

  #mobile-menu .p-sidebar-header {
    display: none !important;
  }

  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: var(--color-violet-blue) !important;
  }

  .p-carousel-indicator > button {
    background-color: var(--color-gray-400) !important;
  }

  .p-carousel-indicator .p-link {
    width: 1rem;
    height: 1rem;
    border-radius: 100% !important;
  }

  .p-inputtext {
    scrollbar-width: thin;
  }

  .p-dialog-content {
    border-radius: 6px;
    margin: 0px auto;
  }

  .p-inputtext.p-disabled {
    border-color: black;
    background-color: var(--gray-300);
  }

  .p-button.p-disabled {
    border: 2px solid var(--purple-800);
  }
}

@theme {
  --color-magnolia: #fbf0ff;
  --color-chocolate-cosmos: #450920;
  --color-lapis-lazuli: #48639c;
  --color-violet-blue: #4c4c9d;
  --color-pomp-and-power: #976391;
  --color-dark-purple: #0b0024;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--magnolia);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scrollbar-width: thin;
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#progress {
  background: linear-gradient(rgb(201, 60, 241) 0%, rgb(97, 10, 85) 90%),
    linear-gradient(to right, rgb(111, 45, 129) 0%, rgb(255, 193, 216) 90%);
  background-blend-mode: screen, difference, lighten;
}
